# SQLite

SQLite is a C-language library that implements a SQL <u>(Structured Query Language)</u>
 database engine that is relatively quick, serverless and self-contained, high-reliable. SQLite is the most commonly used database engine in the test environment.
 
 https://www.sqlite.org  |   https://sqlitebrowser.org/   |   https://www.sqliteviewer.org/database/   |   https://sqliteonline.com/   |   https://www.w3schools.com/sql/default.asp

In [16]:
import sqlite3 as s3

In [6]:
s3.version#dir(s3)

'2.6.0'

<b>Basic Database related Actions:</b> 

<ul>
    <li>Create/Connect <u>Databases</u> (.db type) -- A Database can contain multiple Tables.</li>
    <li>Deploy CRUD (Create, Retrieve, Update, Delete) operations with <u>Tables (Structured Data in Row and Column format)</u> from Database</li>
    <li>Share information etc with <u>Python</u> Application</li>
</ul>

<img src="table_str.png" />

In [14]:
# Creating a SQLite Database! Connection object ==> (:memory:) in memory object can also be created

conn = s3.connect('userOrders.db')  #conn is Connection object required for other activity!

In [15]:
# Creating Cursor: cursor object is required to execute SQL

cur = conn.cursor()

### Create Tables using Connection established

In [18]:
#Defining SQL to create Tables! Data Types for Column https://www.sqlite.org/datatype3.html

userTable="""CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   gender TEXT);
"""

orderTable="""CREATE TABLE IF NOT EXISTS orders(
   orderid INT PRIMARY KEY,
   date TEXT,
   userid TEXT,
   total TEXT);
"""

In [23]:
#execute(SQL QUERY): executes SQL query! 

cur.execute(userTable) #execute SQL
conn.commit() #commit executed SQL to the database

cur.execute(orderTable)
conn.commit()

#### Try loading records from Tables created

In [24]:
cur.execute("SELECT * FROM users").fetchone() 
cur.execute("SELECT * FROM orders").fetchone()

#OR
'''
cur.execute("SELECT * FROM users")
record = cur.fetchone() #fetch 1 Row!
print(record)
'''

'\ncur.execute("SELECT * FROM users")\nrecord = cur.fetchone() #fetch 1 Row!\nprint(record)\n'

### Insert/Load data into/from Table: 
execute(), executemany(), ----------, 
fetchone(), fetchmany(), fetchmany(5), fetchall()

In [28]:
row1="""INSERT INTO users(userid, fname, lname, gender) 
        VALUES ('00001', 'Nik', 'Piepenbreier', 'male')
   """

cur.execute(row1)
conn.commit()

'\nrow1="""INSERT INTO users(userid, fname, lname, gender) \n        VALUES (\'00001\', \'Nik\', \'Piepenbreier\', \'male\')\n   """\n\ncur.execute(row1)\nconn.commit()'

In [30]:
cur.execute("SELECT * FROM users").fetchone()

(1, 'Nik', 'Piepenbreier', 'male')

In [31]:
row2 = ('00002', 'Lois', 'Lane', 'Female')
#insert
cur.execute("INSERT INTO users VALUES(?, ?, ?, ?);", row2)
conn.commit()
#load rows
cur.execute("SELECT * FROM users").fetchmany()

[(1, 'Nik', 'Piepenbreier', 'male')]

In [33]:
cur.execute("SELECT * FROM users").fetchmany(2)

[(1, 'Nik', 'Piepenbreier', 'male'), (2, 'Lois', 'Lane', 'Female')]

In [35]:
cur.execute("SELECT * FROM users").fetchall()

[(1, 'Nik', 'Piepenbreier', 'male'), (2, 'Lois', 'Lane', 'Female')]

In [36]:
cur.execute("SELECT * FROM orders").fetchall()

[]

In [38]:
#Insert multiple rows using executemany()

userData = [('00005', 'Stephanie', 'Stewart', 'female'), ('00006', 'Sincere', 'Sherman', 'female'),
            ('00007', 'Sidney', 'Horn', 'male'), ('00008', 'Litzy', 'Yates', 'female'), ('00009', 'Jaxon', 'Mills', 'male'),
            ('00010', 'Paul', 'Richard', 'male'), ('00011', 'Kamari', 'Holden', 'female'), 
            ('00012', 'Gaige', 'Summers', 'female'), ('00013', 'Andrea', 'Snow', 'female'), 
            ('00014', 'Angelica', 'Barnes', 'female'), ('00015', 'Leah', 'Pitts', 'female'), 
            ('00016', 'Dillan', 'Olsen', 'male'), ('00017', 'Joe', 'Walsh', 'male'), ('00018', 'Reagan', 'Cooper', 'male'),
            ('00019', 'Aubree', 'Hogan', 'female'), ('00020', 'Avery', 'Floyd', 'male'), 
            ('00021', 'Elianna', 'Simmons', 'female'), ('00022', 'Rodney', 'Stout', 'male'), 
            ('00023', 'Elaine', 'Mcintosh', 'female'), ('00024', 'Myla', 'Mckenzie', 'female'), 
            ('00025', 'Alijah', 'Horn', 'female'), ('00026', 'Rohan', 'Peterson', 'male'), 
            ('00027', 'Irene', 'Walters', 'female'), ('00028', 'Lilia', 'Sellers', 'female'), 
            ('00029', 'Perla', 'Jefferson', 'female'), ('00030', 'Ashley', 'Klein', 'female')]
orderData = [('00001', '2020-01-01', '00025', '178'), ('00002', '2020-01-03', '00025', '39'), 
             ('00003', '2020-01-07', '00016', '153'), ('00004', '2020-01-10', '00015', '110'),
             ('00005', '2020-01-11', '00024', '219'), ('00006', '2020-01-12', '00029', '37'),
             ('00007', '2020-01-14', '00028', '227'), ('00008', '2020-01-18', '00010', '232'), 
             ('00009', '2020-01-22', '00016', '236'), ('00010', '2020-01-26', '00017', '116'), 
             ('00011', '2020-01-28', '00028', '221'), ('00012', '2020-01-31', '00021', '238'), 
             ('00013', '2020-02-02', '00015', '177'), ('00014', '2020-02-05', '00025', '76'),('00015', '2020-02-08', '00022', '245'), ('00016', '2020-02-12', '00008', '180'), 
             ('00017', '2020-02-14', '00020', '190'), ('00018', '2020-02-18', '00030', '166'),('00019', '2020-02-22', '00002', '168'), ('00020', '2020-02-26', '00021', '174'), 
             ('00021', '2020-02-29', '00017', '126'), ('00022', '2020-03-02', '00019', '211'),('00023', '2020-03-05', '00030', '144'), ('00024', '2020-03-09', '00012', '112'), 
             ('00025', '2020-03-10', '00006', '45'), ('00026', '2020-03-11', '00004', '200'), 
             ('00027', '2020-03-14', '00015', '226'), ('00028', '2020-03-17', '00030', '189'), 
             ('00029', '2020-03-20', '00004', '152'), ('00030', '2020-03-22', '00026', '239'), 
             ('00031', '2020-03-23', '00012', '135'), ('00032', '2020-03-24', '00013', '211'),
             ('00033', '2020-03-27', '00030', '226'), ('00034', '2020-03-28', '00007', '173'), 
             ('00035', '2020-03-30', '00010', '144'), ('00036', '2020-04-01', '00017', '185'), 
             ('00037', '2020-04-03', '00009', '95'), ('00038', '2020-04-06', '00009', '138'), 
             ('00039', '2020-04-10', '00025', '223'), ('00040', '2020-04-12', '00019', '118'), ('00041', '2020-04-15', '00024', '132'), ('00042', '2020-04-18', '00008', '238'), ('00043', '2020-04-21', '00003', '50'), ('00044', '2020-04-25', '00019', '98'), ('00045', '2020-04-26', '00017', '167'), ('00046', '2020-04-28', '00009', '215'), ('00047', '2020-05-01', '00014', '142'), ('00048', '2020-05-05', '00022', '173'), ('00049', '2020-05-06', '00015', '80'), ('00050', '2020-05-07', '00017', '37'), ('00051', '2020-05-08', '00002', '36'), ('00052', '2020-05-10', '00022', '65'), ('00053', '2020-05-14', '00019', '110'), ('00054', '2020-05-18', '00017', '36'), ('00055', '2020-05-21', '00008', '163'), ('00056', '2020-05-24', '00024', '91'), ('00057', '2020-05-26', '00028', '154'), ('00058', '2020-05-30', '00022', '130'), ('00059', '2020-05-31', '00017', '119'), ('00060', '2020-06-01', '00024', '137'), ('00061', '2020-06-03', '00017', '206'), ('00062', '2020-06-04', '00013', '100'), ('00063', '2020-06-05', '00021', '187'), ('00064', '2020-06-09', '00025', '170'), ('00065', '2020-06-11', '00011', '149'), ('00066', '2020-06-12', '00007', '195'), ('00067', '2020-06-14', '00015', '30'), ('00068', '2020-06-16', '00002', '246'), ('00069', '2020-06-20', '00028', '163'), ('00070', '2020-06-22', '00005', '184'), ('00071', '2020-06-23', '00022', '68'), ('00072', '2020-06-27', '00013', '92'), ('00073', '2020-06-30', '00022', '149'), ('00074', '2020-07-04', '00002', '65'), ('00075', '2020-07-05', '00017', '88'), ('00076', '2020-07-09', '00007', '156'), ('00077', '2020-07-13', '00010', '26'), ('00078', '2020-07-16', '00008', '55'), ('00079', '2020-07-20', '00019', '81'), ('00080', '2020-07-22', '00011', '78'), ('00081', '2020-07-23', '00026', '166'), ('00082', '2020-07-27', '00014', '65'), ('00083', '2020-07-30', '00021', '205'), ('00084', '2020-08-01', '00026', '140'), ('00085', '2020-08-05', '00006', '236'), ('00086', '2020-08-06', '00021', '208'), ('00087', '2020-08-07', '00021', '169'), ('00088', '2020-08-08', '00004', '157'), ('00089', '2020-08-11', '00017', '71'), ('00090', '2020-08-13', '00025', '89'), ('00091', '2020-08-16', '00014', '249'), ('00092', '2020-08-18', '00012', '59'), ('00093', '2020-08-19', '00013', '121'), ('00094', '2020-08-20', '00025', '179'), ('00095', '2020-08-22', '00017', '208'), ('00096', '2020-08-26', '00024', '217'), ('00097', '2020-08-28', '00004', '206'), ('00098', '2020-08-30', '00017', '114'), ('00099', '2020-08-31', '00017', '169'), 
             ('00100', '2020-09-02', '00022', '226')]

cur.executemany("INSERT INTO users VALUES(?, ?, ?, ?)", userData)
cur.executemany("INSERT INTO orders VALUES(?, ?, ?, ?)", orderData)
conn.commit()

In [41]:
#load/Retrieve multiple rows from Table
userrecords = cur.execute("SELECT * FROM users").fetchmany(5) 
print(userrecords)

cur.execute("SELECT * FROM orders").fetchmany(10)

[(1, 'Nik', 'Piepenbreier', 'male'), (2, 'Lois', 'Lane', 'Female'), (5, 'Stephanie', 'Stewart', 'female'), (6, 'Sincere', 'Sherman', 'female'), (7, 'Sidney', 'Horn', 'male')]

[(1, '2020-01-01', '00025', '178'),
 (2, '2020-01-03', '00025', '39'),
 (3, '2020-01-07', '00016', '153'),
 (4, '2020-01-10', '00015', '110'),
 (5, '2020-01-11', '00024', '219'),
 (6, '2020-01-12', '00029', '37'),
 (7, '2020-01-14', '00028', '227'),
 (8, '2020-01-18', '00010', '232'),
 (9, '2020-01-22', '00016', '236'),
 (10, '2020-01-26', '00017', '116')]

In [43]:
#Retrieve with condition!

userrecords = cur.execute("SELECT * FROM users WHERE gender='male'").fetchmany(10) 
print(userrecords)

[(1, 'Nik', 'Piepenbreier', 'male'), (7, 'Sidney', 'Horn', 'male'), (9, 'Jaxon', 'Mills', 'male'), (10, 'Paul', 'Richard', 'male'), (16, 'Dillan', 'Olsen', 'male'), (17, 'Joe', 'Walsh', 'male'), (18, 'Reagan', 'Cooper', 'male'), (20, 'Avery', 'Floyd', 'male'), (22, 'Rodney', 'Stout', 'male'), (26, 'Rohan', 'Peterson', 'male')]

[(9, '2020-01-22', '00016', '236'),
 (10, '2020-01-26', '00017', '116'),
 (11, '2020-01-28', '00028', '221')]

In [44]:
cur.execute("SELECT * FROM orders WHERE date LIKE '2020-01-2%'").fetchmany(5) # LIKE

[(9, '2020-01-22', '00016', '236'),
 (10, '2020-01-26', '00017', '116'),
 (11, '2020-01-28', '00028', '221')]

In [54]:
cur.execute("SELECT total,date FROM orders").fetchmany(5) # selected columns

[('178', '2020-01-01'),
 ('39', '2020-01-03'),
 ('153', '2020-01-07'),
 ('110', '2020-01-10'),
 ('219', '2020-01-11')]

In [139]:
#unique: distinct()

print(cur.execute("SELECT distinct(lname) FROM users").fetchmany(10))

print(cur.execute("SELECT distinct(fname) FROM users WHERE lname='Horn'").fetchall())

[('Piepenbreier',), ('Lane',), ('Stewart',), ('Sherman',), ('Horn',), ('Yates',), ('Mills',), ('Richard',), ('Holden',), ('Summers',)]
[('Sidney',), ('Alijah',)]

In [145]:
#count(), distinct()

print(cur.execute("SELECT count(distinct(lname)) FROM users").fetchall())

print(cur.execute("SELECT count(distinct(total)) FROM orders").fetchall())

[(27,)]
[(82,)]

### UPDATE

In [55]:
result = cur.execute("SELECT * from users WHERE fname='Nik' AND gender='male'").fetchall()
print(result)

[(1, 'Nik', 'Piepenbreier', 'male')]

In [56]:
updateQuery="""UPDATE users SET fname='Nick' WHERE fname='Nik' AND gender='male'"""
cur.execute(updateQuery) #Update
conn.commit()

In [59]:
result = cur.execute("SELECT * from users WHERE fname='Nick' AND gender='male'").fetchall() #check for Update Happen!
print(result)

result = cur.execute("SELECT * from users WHERE userid=1").fetchall() #check for Update Happen!
print(result)

[(1, 'Nick', 'Piepenbreier', 'male')]
[(1, 'Nick', 'Piepenbreier', 'male')]

## DELETE

In [77]:
#Insert Temporary Row 

rowData = ('10002', 'TEST', 'Record', 'NULL')
#insert
cur.execute("INSERT INTO users VALUES(?, ?, ?, ?);", rowData)
conn.commit()

In [78]:
rowData = cur.execute("SELECT * from users WHERE gender='NULL'").fetchall() #check for Update Happen!
print(rowData)

[(10002, 'TEST', 'Record', 'NULL')]

In [79]:
#Deleting Temporary Row
cur.execute("DELETE FROM users WHERE userid='10002'")

conn.commit()

In [80]:
rowData1 = cur.execute("SELECT * from users WHERE gender='NULL'").fetchall() #check for Update Happen!
print(rowData1)

[]

### JOIN - mutiple Table!

In [115]:
cur.execute("""SELECT orders.date,orders.total, users.fname, users.lname 
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid""")

cur.fetchmany(11)

[('2020-01-01', '178', 'Alijah', 'Horn'),
 ('2020-01-03', '39', 'Alijah', 'Horn'),
 ('2020-01-07', '153', 'Dillan', 'Olsen'),
 ('2020-01-10', '110', 'Leah', 'Pitts'),
 ('2020-01-11', '219', 'Myla', 'Mckenzie'),
 ('2020-01-12', '37', 'Perla', 'Jefferson'),
 ('2020-01-14', '227', 'Lilia', 'Sellers'),
 ('2020-01-18', '232', 'Paul', 'Richard'),
 ('2020-01-22', '236', 'Dillan', 'Olsen'),
 ('2020-01-26', '116', 'Joe', 'Walsh'),
 ('2020-01-28', '221', 'Lilia', 'Sellers')]

In [109]:
#Particular Person

cur.execute("""SELECT orders.date,orders.total, users.fname, users.lname 
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid AND users.fname='Alijah'""")

cur.fetchmany(10) #count(orders.total)

[('2020-01-01', '178', 'Alijah', 'Horn'),
 ('2020-01-03', '39', 'Alijah', 'Horn'),
 ('2020-02-05', '76', 'Alijah', 'Horn'),
 ('2020-04-10', '223', 'Alijah', 'Horn'),
 ('2020-06-09', '170', 'Alijah', 'Horn'),
 ('2020-08-13', '89', 'Alijah', 'Horn'),
 ('2020-08-20', '179', 'Alijah', 'Horn')]

In [126]:
#Particular Person Order details: count(), sum(), avg()

output=cur.execute("""SELECT count(orders.total),sum(orders.total),avg(orders.total)
    FROM orders
    INNER JOIN users 
    ON users.userid=orders.userid AND users.fname='Alijah' AND users.lname='Horn'
    """).fetchall()

print(output)

[(7, 954, 136.28571428571428)]

### Export!

In [172]:
import csv
import json

data = cur.execute("SELECT * FROM users")
#order = cur.execute("SELECT * FROM orders")

In [164]:
with open('csvUser.csv','w',newline='') as fp:
    writer = csv.writer(fp)
    writer.writerow(['userid','fname','lname','gender'])
    writer.writerows(data)

'''    
with open('csvorder.csv','w',newline='') as fo:
    writer = csv.writer(fo)
    writer.writerow(['orderid','date','userid','total'])
    writer.writerows(order)
'''

"    \nwith open('csvorder.csv','w',newline='') as fo:\n    writer = csv.writer(fo)\n    writer.writerow(['orderid','date','userid','total'])\n    writer.writerows(order)\n"

In [165]:
final={}
with open('csvUser.csv') as cu:
    readCSV = csv.DictReader(cu)
    for row in readCSV:
        id=row['userid']
        final[id]=row
#print(final)
with open('jsonUser.json','w') as jf:
    jf.write(json.dumps(final,indent=2))

{'1': OrderedDict([('userid', '1'), ('fname', 'Nick'), ('lname', 'Piepenbreier'), ('gender', 'male')]), '2': OrderedDict([('userid', '2'), ('fname', 'Lois'), ('lname', 'Lane'), ('gender', 'Female')]), '5': OrderedDict([('userid', '5'), ('fname', 'Stephanie'), ('lname', 'Stewart'), ('gender', 'female')]), '6': OrderedDict([('userid', '6'), ('fname', 'Sincere'), ('lname', 'Sherman'), ('gender', 'female')]), '7': OrderedDict([('userid', '7'), ('fname', 'Sidney'), ('lname', 'Horn'), ('gender', 'male')]), '8': OrderedDict([('userid', '8'), ('fname', 'Litzy'), ('lname', 'Yates'), ('gender', 'female')]), '9': OrderedDict([('userid', '9'), ('fname', 'Jaxon'), ('lname', 'Mills'), ('gender', 'male')]), '10': OrderedDict([('userid', '10'), ('fname', 'Paul'), ('lname', 'Richard'), ('gender', 'male')]), '11': OrderedDict([('userid', '11'), ('fname', 'Kamari'), ('lname', 'Holden'), ('gender', 'female')]), '12': OrderedDict([('userid', '12'), ('fname', 'Gaige'), ('lname', 'Summers'), ('gender', 'female')]), '13': OrderedDict([('userid', '13'), ('fname', 'Andrea'), ('lname', 'Snow'), ('gender', 'female')]), '14': OrderedDict([('userid', '14'), ('fname', 'Angelica'), ('lname', 'Barnes'), ('gender', 'female')]), '15': OrderedDict([('userid', '15'), ('fname', 'Leah'), ('lname', 'Pitts'), ('gender', 'female')]), '16': OrderedDict([('userid', '16'), ('fname', 'Dillan'), ('lname', 'Olsen'), ('gender', 'male')]), '17': OrderedDict([('userid', '17'), ('fname', 'Joe'), ('lname', 'Walsh'), ('gender', 'male')]), '18': OrderedDict([('userid', '18'), ('fname', 'Reagan'), ('lname', 'Cooper'), ('gender', 'male')]), '19': OrderedDict([('userid', '19'), ('fname', 'Aubree'), ('lname', 'Hogan'), ('gender', 'female')]), '20': OrderedDict([('userid', '20'), ('fname', 'Avery'), ('lname', 'Floyd'), ('gender', 'male')]), '21': OrderedDict([('userid', '21'), ('fname', 'Elianna'), ('lname', 'Simmons'), ('gender', 'female')]), '22': OrderedDict([('userid', '22'), ('fname', 'Rodney'), ('lname', 'Stout'), ('gender', 'male')]), '23': OrderedDict([('userid', '23'), ('fname', 'Elaine'), ('lname', 'Mcintosh'), ('gender', 'female')]), '24': OrderedDict([('userid', '24'), ('fname', 'Myla'), ('lname', 'Mckenzie'), ('gender', 'female')]), '25': OrderedDict([('userid', '25'), ('fname', 'Alijah'), ('lname', 'Horn'), ('gender', 'female')]), '26': OrderedDict([('userid', '26'), ('fname', 'Rohan'), ('lname', 'Peterson'), ('gender', 'male')]), '27': OrderedDict([('userid', '27'), ('fname', 'Irene'), ('lname', 'Walters'), ('gender', 'female')]), '28': OrderedDict([('userid', '28'), ('fname', 'Lilia'), ('lname', 'Sellers'), ('gender', 'female')]), '29': OrderedDict([('userid', '29'), ('fname', 'Perla'), ('lname', 'Jefferson'), ('gender', 'female')]), '30': OrderedDict([('userid', '30'), ('fname', 'Ashley'), ('lname', 'Klein'), ('gender', 'female')])}

#### Drop Table/Database ??

#DROP users
#DROP orders